AMAZON_ADS_CLIENT_ID=amzn1.application-oa2-client.xxx
AMAZON_ADS_CLIENT_SECRET=amzn1.oa2-cs.v1.xxx
AMAZON_ADS_TEST_REFRESH_TOKEN=Atzr|xxx
AMAZON_ADS_TEST_REGION=NA
AMAZON_ADS_TEST_PROFILE_ID=1234567890
